@model List<ModelUsuarios>

@{
    ViewData["Title"] = "ListarUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListarUsuarios</h1>

<div class="table-responsive">
    <table class="table table-striped table-hover">
    <thead>
        <tr>            
            <th scope="col">USER</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody class="table-primary">
            @foreach (var item in Model)
            {
                <tr>          
                    <th scope="row">@item.UsuarioUserName</th>
                    <td>@item.UsuarioNombre</td>
                    <td>@item.UsuarioApellido</td>
                <div>
                    <td><button type="button" class="btn btn-primary"><span class="material-symbols-outlined">visibility</span></button></td>
                    <td>
                        <form asp-controller="Usuarios" asp-action="TraerUsuario">
                        <input type="hidden" name="id" value="@item.UsuarioID" />
                        <button type="submit" class="btn btn-success"><span class="material-symbols-outlined">edit</span></button>
                        </form>
                    </td>
                    <td><button type="button" class="btn btn-danger"><span class="material-symbols-outlined">delete</span></button></td>
                </div>
                </tr>
            }
    </tbody>
</table>
</div>