@model List<ModelUsuarios>

@{
    ViewData["Title"] = "ListarUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListarUsuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">USER</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.UsuarioId</th>
                <td>@item.UsuarioUserName</td>
                <td>@item.UsuarioNombre</td>
                <td>@item.UsuarioApellido</td>
            </tr>
        }
       
        
    </tbody>
</table>