@model ModelUsuarios
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authentication.Cookies;

@{
    ViewData["Title"] = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Asegúrate de que este sea el layout que estás utilizando, si aplica
}

<h2>Editar Usuario</h2>

<div class="container mt-4">
    <div class="mb-3">
        <label for="userName" class="form-label">Nombre de Usuario</label>
        <input asp-for="UsuarioUserName" type="text" class="form-control" id="userName" placeholder="Ingresa tu nombre de usuario" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input asp-for="UsuarioPassword" type="text" class="form-control" id="password" required>
    </div>

    <div class="mb-3">
        <label for="rol" class="form-label">Rol</label>
        <input asp-for="UsuarioRol" type="text" class="form-control" id="rol" placeholder="Ingresa tu rol">
    </div>

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input asp-for="UsuarioNombre" type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
    </div>

    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input asp-for="UsuarioApellido" type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido">
    </div>

    <div class="mb-3">
        <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
        <input asp-for="UsuarioFechaNacimiento" type="date" class="form-control" id="fechaNacimiento">
    </div>

    <div class="mb-3">
        <label for="documentoId" class="form-label">Tipo de Documento</label>
        <input asp-for="DocumentoID" type="text" class="form-control" id="documentoId" placeholder="Ingrese el tipo de documento">
    </div>

    <div class="mb-3">
        <label for="documento" class="form-label">Número de Documento</label>
        <select asp-for="DocumentoID" class="form-select" id="documento" placeholder="Ingrese su número de documento" required>
            <option value="1">dni</option>
            <option value="2">cuit</option>
            <option value="3">otros</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="documentoId" class="form-label">Tipo de Documento</label>
        <input asp-for="UsuarioDocumento" type="text" class="form-control" id="documentoId" placeholder="Ingrese el tipo de documento" required>
    </div>


    <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input asp-for="UsuarioEmail" type="email" class="form-control" id="email" placeholder="correo@ejemplo.com" value="asd@asd" required>
    </div>

    <div class="mb-3">
        <label for="telefono1" class="form-label">Teléfono 1</label>
        <input asp-for="UsuarioTelefono1" type="tel" class="form-control" id="telefono1" placeholder="Ingrese su primer teléfono">
    </div>

    <div class="mb-3">
        <label for="telefono2" class="form-label">Teléfono 2</label>
        <input asp-for="UsuarioTelefono2" type="tel" class="form-control" id="telefono2" placeholder="Ingrese su segundo teléfono">
    </div>

    <div class="mb-3">
        <label for="direccion" class="form-label">Dirección</label>
        <input asp-for="UsuarioDireccion" type="text" class="form-control" id="direccion" placeholder="Ingrese su dirección">
    </div>

    <div class="mb-3">
        <label for="localidad" class="form-label">Localidad</label>
        <select asp-for="LocalidadId" class="form-select" class="form-control" id="localidad" placeholder="Ingrese su localidad">
            <option value="1">Ituzaingo</option>
            <option value="2">Morón</option>
            <option value="3">Moreno</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="provincia" class="form-label">Provincia</label>
        <select asp-for="ProvinciaId" type="text" class="form-select" id="provincia" placeholder="Ingrese su provincia">
            <option value="1">CAPITAL FEDERAL</option>
            <option value="2">BUENOS AIRES</option>
        </select>
    </div>
</div>