@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authentication.Cookies;

@{
    ViewData["Title"] = "IndexLogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Haz ingresado</h1>

